name: Deploy to VM

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Pull latest code
      run: |
        cd ~/fullstack-users-app
        git fetch origin main
        git reset --hard origin/main

    - name: Deploy Backend
      run: |
        cd ~/fullstack-users-app/backend
        npm ci
        pm2 restart backend || pm2 start server.js --name "backend"

    - name: Deploy Frontend
      run: |
        cd ~/fullstack-users-app/frontend
        npm ci
        npm run build

    - name: Restart Nginx
      run: sudo systemctl restart nginx