
name: Deploy to VM

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to VM
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ~/fullstack-users-app
          git pull origin main
          
          # Backend
          cd ~/fullstack-users-app/backend
          npm install
          pm2 restart backend || pm2 start server.js --name "backend"
          
          # Frontend
          cd ~/fullstack-users-app/frontend
          npm install
          npm run build
          
          # Restart Nginx
          sudo systemctl restart nginx